<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCq-1ilu3brEF5g1ie9p_Axp8I5PJX-WrY</string>
	<key>GCM_SENDER_ID</key>
	<string>164313311350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bhyapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>agri-c6980</string>
	<key>STORAGE_BUCKET</key>
	<string>agri-c6980.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164313311350:ios:0cc05145fa881b7c869757</string>
</dict>
</plist>